@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", "poppins", sans-serif;
  color: #1c1c1c;
  font-size: 18px;
}

#grace {
  font-family: "Covered By Your Grace";
}

#carousel:hover #carousel-child {
  background-color: #CAD0CB;
}
